In [1]:
import warnings
import pandas as pd
from pathlib import Path

In [2]:
# File Path
school_metrics_data_to_load = Path("SPREE_SY2223_School_Metric_Scores (1).csv")

# Read Hospital General, Score, and Location Data File and store into Pandas DataFrames
school_metrics_data = pd.read_csv(school_metrics_data_to_load)

In [3]:
school_metrics_data.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1,2022-2023,1010,John Bartram High School,High School,% of Students Attending Less Than 80% of Instr...,292.0,617.0,47.3,NaN,NaN,NaN
2,2022-2023,1010,John Bartram High School,High School,% of Students Attending 80-85% of Instructiona...,51.0,617.0,8.3,NaN,NaN,NaN
3,2022-2023,1010,John Bartram High School,High School,% of Students Attending 85-90% of Instructiona...,66.0,617.0,10.7,NaN,NaN,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining

In [4]:
school_metrics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83980 entries, 0 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  83980 non-null  object
 1   school_id            83980 non-null  int64
 2   school_name          83980 non-null  object
 3   report_type          83980 non-null  object
 4   metric               83980 non-null  object
 5   numerator            20464 non-null  float64
 6   denominator          17254 non-null  float64
 7   metric_score         83980 non-null  object
 8   score_previous       71701 non-null  object
 9   score_change         71706 non-null  object
 10  tier                 11507 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.0+ MB

In [5]:
#Calculate the number of schools
schools_count = school_metrics_data['school_id'].nunique()
print("Number of unique schools:",schools_count)

# List the unique school ids
unique_ids = school_metrics_data['school_id'].unique()
# print("Number of unique schools:",unique_ids)

Number of unique schools: 294

In [6]:
#Calculate the number of school names
school_name_count = school_metrics_data['school_name'].nunique()
print("Number of unique schools:",school_name_count)

# List the unique school names
unique_names = school_metrics_data['school_name'].unique()
# print("Number of unique schools:",unique_names)

Number of unique schools: 294

In [7]:
#Calculate the number of unique metrics
metrics_count=school_metrics_data['metric'].nunique()
print("Number of unique metrics:",metrics_count)

# List the unique metrics
unique_metrics = school_metrics_data['metric'].unique()
unique_metrics

Number of unique metrics: 260

array(['Admission Type',
       '% of Students Attending Less Than 80% of Instructional Days',
       '% of Students Attending 80-85% of Instructional Days',
       '% of Students Attending 85-90% of Instructional Days',
       '% of Students Attending at Least 90% of Instructional Days',
       '% of Students Attending 90-95% of Instructional Days',
       '% of Students Attending at Least 95% of Instructional Days',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       '# of Students Served Over the Full Year', 'October 1 Enrollment',
       '% of Students Who Are American Indian/Alaskan Native',
       '% of Students Who Are Asian',
       '% of Students Who Are Black/African American',
       '% of Students Who Are Economically Disadvantaged',
       '% of Students Who Are English Learners',
       '% of Students Who Are Hispanic/Latino',
       '% of Students Who Are Multiracial',
       '% of Students Who Are Native Hawaiian/Alaskan Native',
       '% of Students Who Are Special Education',
       '% of Students Who Are White',
       '% of Students Completing the FAFSA by End of 12th Grade',
       'First-Fall Matriculation', 'Score Level,  All Students',
       'Score Level,  American Indian/Alaskan Native',
       'Score Level,  Asian', 'Score Level,  Black/African American',
       'Score Level,  Economically Disadvantaged',
       'Score Level,  English Learners', 'Score Level,  Hispanic/Latino',
       'Score Level,  Multiracial',
       'Score Level,  Native Hawaiian/Pacific Islander',
       'Score Level,  Special Education', 'Score Level,  White',
       'Four-Year Cohort Graduation Rate',
       'Four-Year Cohort Graduation Rate, American Indian/Alaskan Native',
       'Four-Year Cohort Graduation Rate, Asian',
       'Four-Year Cohort Graduation Rate, Black/African American',
       'Four-Year Cohort Graduation Rate, Economically Disadvantaged',
       'Four-Year Cohort Graduation Rate, English Learners',
       'Four-Year Cohort Graduation Rate, Hispanic/Latino',
       'Four-Year Cohort Graduation Rate, Multiracial',
       'Four-Year Cohort Graduation Rate, Native Hawaiian/Pacific Islander',
       'Four-Year Cohort Graduation Rate, Special Education',
       'Four-Year Cohort Graduation Rate, White',
       'Keystone Algebra I: % of Students Below Basic, Grade 11',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Asian',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Black/African American',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Economically Disadvantaged',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  English Learners',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Hispanic/Latino',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Multiracial',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  Special Education',
       'Keystone Algebra I: % of Students Below Basic, Grade 11,  White',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Asian',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Black/African American',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  English Learners',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Multiracial',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  Special Education',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11,  White',
       'Keystone Biology: % of Students Below Basic, Grade 11',
       'Keystone Biology: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Asian',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Black/African American',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Economically Disadvantaged',
       'Keystone Biology: % of Students Below Basic, Grade 11,  English Learners',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Hispanic/Latino',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Multiracial',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Biology: % of Students Below Basic, Grade 11,  Special Education',
       'Keystone Biology: % of Students Below Basic, Grade 11,  White',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Asian',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Black/African American',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  English Learners',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Multiracial',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  Special Education',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11,  White',
       'Keystone Literature: % of Students Below Basic, Grade 11',
       'Keystone Literature: % of Students Below Basic, Grade 11,  American Indian/Alaskan Native',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Asian',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Black/African American',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Economically Disadvantaged',
       'Keystone Literature: % of Students Below Basic, Grade 11,  English Learners',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Hispanic/Latino',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Multiracial',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Literature: % of Students Below Basic, Grade 11,  Special Education',
       'Keystone Literature: % of Students Below Basic, Grade 11,  White',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  American Indian/Alaskan Native',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Asian',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Black/African American',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Economically Disadvantaged',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  English Learners',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Hispanic/Latino',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Multiracial',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Native Hawaiian/Pacific Islander',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  Special Education',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11,  White',
       '% of 11th Grade Students Proficient on All Three Keystones',
       '% of 11th Grade Students Proficient on All Three Keystones - American Indian/Alaskan Native',
       '% of 11th Grade Students Proficient on All Three Keystones - Asian',
       '% of 11th Grade Students Proficient on All Three Keystones - Black/African American',
       '% of 11th Grade Students Proficient on All Three Keystones - Economically Disadvantaged',
       '% of 11th Grade Students Proficient on All Three Keystones - English Learner',
       '% of 11th Grade Students Proficient on All Three Keystones - Hispanic/Latino',
       '% of 11th Grade Students Proficient on All Three Keystones - Multiracial',
       '% of 11th Grade Students Proficient on All Three Keystones - Native Hawaiian/Alaskan Native',
       '% of 11th Grade Students Proficient on All Three Keystones - Special Education',
       '% of 11th Grade Students Proficient on All Three Keystones - White',
       '% of 12th Grade CTE Students Meeting Industry Standards',
       'Ninth-Grade On-Track Rate',
       '% of Students Receiving Zero Out-of-School Suspensions',
       'Percent of Metrics Improving,  All Students',
       'Percent of Metrics Improving,  American Indian/Alaskan Native',
       'Percent of Metrics Improving,  Asian',
       'Percent of Metrics Improving,  Black/African American',
       'Percent of Metrics Improving,  Economically Disadvantaged',
       'Percent of Metrics Improving,  English Learners',
       'Percent of Metrics Improving,  Hispanic/Latino',
       'Percent of Metrics Improving,  Multiracial',
       'Percent of Metrics Improving,  Native Hawaiian/Pacific Islander',
       'Percent of Metrics Improving,  Special Education',
       'Percent of Metrics Improving,  White',
       'Percent of Targets Met,  All Students',
       'Percent of Targets Met,  American Indian/Alaskan Native',
       'Percent of Targets Met,  Asian',
       'Percent of Targets Met,  Black/African American',
       'Percent of Targets Met,  Economically Disadvantaged',
       'Percent of Targets Met,  English Learners',
       'Percent of Targets Met,  Hispanic/Latino',
       'Percent of Targets Met,  Multiracial',
       'Percent of Targets Met,  Native Hawaiian/Pacific Islander',
       'Percent of Targets Met,  Special Education',
       'Percent of Targets Met,  White',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Asian',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Black/African American',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  English Learners',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Hispanic/Latino',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Multiracial',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  Special Education',
       'PSSA ELA: % of Students Below Basic, Grades 3-8,  White',
       'PSSA ELA: % of Students Below Basic, Grade 3',
       'PSSA ELA: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Asian',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Black/African American',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Economically Disadvantaged',
       'PSSA ELA: % of Students Below Basic, Grade 3,  English Learners',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Hispanic/Latino',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Multiracial',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander',
       'PSSA ELA: % of Students Below Basic, Grade 3,  Special Education',
       'PSSA ELA: % of Students Below Basic, Grade 3,  White',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Asian',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Black/African American',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, English Learners',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Multiracial',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Special Education',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, White',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, American Indian/Alaskan Native',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Asian',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Black/African American',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Economically Disadvantaged',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, English Learners',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Hispanic/Latino',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Multiracial',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Native Hawaiian/Pacific Islander',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Special Education',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3, White',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Asian',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Black/African American',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  English Learners',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Hispanic/Latino',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Multiracial',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  Special Education',
       'PSSA Math: % of Students Below Basic, Grades 3-8,  White',
       'PSSA Math: % of Students Below Basic, Grade 3',
       'PSSA Math: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native',
       'PSSA Math: % of Students Below Basic, Grade 3,  Asian',
       'PSSA Math: % of Students Below Basic, Grade 3,  Black/African American',
       'PSSA Math: % of Students Below Basic, Grade 3,  Economically Disadvantaged',
       'PSSA Math: % of Students Below Basic, Grade 3,  English Learners',
       'PSSA Math: % of Students Below Basic, Grade 3,  Hispanic/Latino',
       'PSSA Math: % of Students Below Basic, Grade 3,  Multiracial',
       'PSSA Math: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander',
       'PSSA Math: % of Students Below Basic, Grade 3,  Special Education',
       'PSSA Math: % of Students Below Basic, Grade 3,  White',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Asian',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Black/African American',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, English Learners',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Multiracial',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Special Education',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, White',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  American Indian/Alaskan Native',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Asian',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Black/African American',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Economically Disadvantaged',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  English Learners',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Hispanic/Latino',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Multiracial',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Native Hawaiian/Pacific Islander',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Special Education',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3,  White',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  American Indian/Alaskan Native',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Asian',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Black/African American',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Economically Disadvantaged',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  English Learners',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Hispanic/Latino',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Multiracial',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Native Hawaiian/Pacific Islander',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  Special Education',
       'PSSA Science: % of Students Below Basic, Grades 4-8,  White',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  American Indian/Alaskan Native',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Asian',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Black/African American',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Economically Disadvantaged',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  English Learners',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Hispanic/Latino',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Multiracial',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Native Hawaiian/Pacific Islander',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Special Education',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  White',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient',
       '% of Teachers Attending at Least 90% of Instructional Days',
       'Year-to-Year Teacher Retention'], dtype=object)

In [8]:
#Calculate the number of Report Types
report_types_count = school_metrics_data['report_type'].nunique()
print("Number of report types:",report_types_count)

# List the Report Types
unique_reports = school_metrics_data['report_type'].unique()
print("Report Types:", unique_reports)

Number of report types: 4
Report Types: ['High School' 'Middle School' 'K-8 School' 'Elementary School']

In [9]:
# Identify duplicates based on 'school_id' and 'metric'
duplicates = school_metrics_data[school_metrics_data.duplicated(subset=['school_id', 'metric'], keep=False)]

duplicate_school_count = duplicates['school_name'].nunique()
print("Number of duplicate School IDs:", duplicate_school_count)

duplicate_schools = duplicates['school_name'].unique()
# print("Duplicate Schools:", duplicate_schools)

Number of duplicate School IDs: 29

In [10]:
# Create the 'High School' 'Middle School' 'K-8 School' 'Elementary School' dataframes
high_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'High School']
middle_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'Middle School']
ktoeight_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'K-8 School']
elementary_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'Elementary School']

# Check for duplicates
high_school_duplicates = high_school_metrics_df[high_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_high_school_count = high_school_duplicates['school_name'].nunique()
middle_school_duplicates = middle_school_metrics_df[middle_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_middle_school_count = middle_school_duplicates['school_name'].nunique()
ktoeight_school_duplicates = ktoeight_school_metrics_df[ktoeight_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_ktoeight_school_count = ktoeight_school_duplicates['school_name'].nunique()
elementary_school_duplicates = elementary_school_metrics_df[elementary_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_elementary_school_count = elementary_school_duplicates['school_name'].nunique()

print("Number of duplicate High Schools:", duplicate_high_school_count)
print('-' * 40)
print("Number of duplicate Middle Schools:", duplicate_middle_school_count)
print('-' * 40)
print("Number of duplicate K-8 Schools:", duplicate_ktoeight_school_count)
print('-' * 40)
print("Number of duplicate Elementary Schools:", duplicate_elementary_school_count)

Number of duplicate High Schools: 0
----------------------------------------
Number of duplicate Middle Schools: 0
----------------------------------------
Number of duplicate K-8 Schools: 0
----------------------------------------
Number of duplicate Elementary Schools: 0

In [11]:
# Calculate the number of school names
high_school_count = high_school_metrics_df['school_name'].nunique()
middle_school_count = middle_school_metrics_df['school_name'].nunique()
ktoeight_school_count = ktoeight_school_metrics_df['school_name'].nunique()
elementary_school_count = elementary_school_metrics_df['school_name'].nunique()

print("Number of High Schools:", high_school_count)
high_school_metrics_df.info()
print('-' * 60)
print("Number of Middle Schools:", middle_school_count)
middle_school_metrics_df.info()
print('-' * 60)
print("Number of K-8 Schools:", ktoeight_school_count)
ktoeight_school_metrics_df.info()
print('-' * 60)
print("Number of Elementary Schools:", elementary_school_count)
elementary_school_metrics_df.info()
print('-' * 60)
all_schools = high_school_count + middle_school_count + ktoeight_school_count + elementary_school_count
print("Number of Schools:", all_schools)

Number of High Schools: 84
<class 'pandas.core.frame.DataFrame'>
Index: 21840 entries, 0 to 83719
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  21840 non-null  object
 1   school_id            21840 non-null  int64
 2   school_name          21840 non-null  object
 3   report_type          21840 non-null  object
 4   metric               21840 non-null  object
 5   numerator            4719 non-null   float64
 6   denominator          3879 non-null   float64
 7   metric_score         21840 non-null  object
 8   score_previous       18647 non-null  object
 9   score_change         18648 non-null  object
 10  tier                 1158 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.0+ MB
------------------------------------------------------------
Number of Middle Schools: 29
<class 'pandas.core.frame.DataFrame'>
Index: 7540 entries, 1300 to 77739
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  7540 non-null   object
 1   school_id            7540 non-null   int64
 2   school_name          7540 non-null   object
 3   report_type          7540 non-null   object
 4   metric               7540 non-null   object
 5   numerator            1574 non-null   float64
 6   denominator          1284 non-null   float64
 7   metric_score         7540 non-null   object
 8   score_previous       6437 non-null   object
 9   score_change         6438 non-null   object
 10  tier                 927 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 706.9+ KB
------------------------------------------------------------
Number of K-8 Schools: 154
<class 'pandas.core.frame.DataFrame'>
Index: 40040 entries, 1820 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  40040 non-null  object
 1   school_id            40040 non-null  int64
 2   school_name          40040 non-null  object
 3   report_type          40040 non-null  object
 4   metric               40040 non-null  object
 5   numerator            10476 non-null  float64
 6   denominator          8956 non-null   float64
 7   metric_score         40040 non-null  object
 8   score_previous       34185 non-null  object
 9   score_change         34188 non-null  object
 10  tier                 7009 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 3.7+ MB
------------------------------------------------------------
Number of Elementary Schools: 56
<class 'pandas.core.frame.DataFrame'>
Index: 14560 entries, 2340 to 82939
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  14560 non-null  object
 1   school_id            14560 non-null  int64
 2   school_name          14560 non-null  object
 3   report_type          14560 non-null  object
 4   metric               14560 non-null  object
 5   numerator            3695 non-null   float64
 6   denominator          3135 non-null   float64
 7   metric_score         14560 non-null  object
 8   score_previous       12432 non-null  object
 9   score_change         12432 non-null  object
 10  tier                 2413 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 1.3+ MB
------------------------------------------------------------
Number of Schools: 323

In [12]:
high_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1,2022-2023,1010,John Bartram High School,High School,% of Students Attending Less Than 80% of Instr...,292.0,617.0,47.3,NaN,NaN,NaN
2,2022-2023,1010,John Bartram High School,High School,% of Students Attending 80-85% of Instructiona...,51.0,617.0,8.3,NaN,NaN,NaN
3,2022-2023,1010,John Bartram High School,High School,% of Students Attending 85-90% of Instructiona...,66.0,617.0,10.7,NaN,NaN,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining

In [13]:
# Create a list a metrics to drop
high_school_metrics_to_keep = [
       'Admission Type',
       '% of Students Attending at Least 90% of Instructional Days',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       '# of Students Served Over the Full Year', 
       'October 1 Enrollment',
       '% of Students Completing the FAFSA by End of 12th Grade',
       'First-Fall Matriculation', 
       'Four-Year Cohort Graduation Rate',
       'Keystone Algebra I: % of Students Below Basic, Grade 11',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11',
       'Keystone Biology: % of Students Below Basic, Grade 11',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11',
       'Keystone Literature: % of Students Below Basic, Grade 11',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11',
       '% of 11th Grade Students Proficient on All Three Keystones',
       '% of 12th Grade CTE Students Meeting Industry Standards',
       'Ninth-Grade On-Track Rate',
       '% of Students Receiving Zero Out-of-School Suspensions',
       'Percent of Metrics Improving,  All Students',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient',
       '% of Teachers Attending at Least 90% of Instructional Days',
       'Year-to-Year Teacher Retention'
]
print("Number of metrics to keep:", len(high_school_metrics_to_keep))

Number of metrics to keep: 23

In [14]:
# Drop the rows where the 'metric' column is in the metrics_to_drop list
high_school_metrics_df = high_school_metrics_df[high_school_metrics_df['metric'].isin(high_school_metrics_to_keep)]

# Print info for cleaned dataframe
high_school_count = high_school_metrics_df['school_name'].nunique()
print("Number of High Schools:", high_school_count)
high_school_metrics_count = high_school_metrics_df['metric'].nunique()
print("Number of High School metrics:", high_school_metrics_count)
high_school_metrics_df.info()

Number of High Schools: 84
Number of High School metrics: 23
<class 'pandas.core.frame.DataFrame'>
Index: 1932 entries, 0 to 83719
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  1932 non-null   object
 1   school_id            1932 non-null   int64
 2   school_name          1932 non-null   object
 3   report_type          1932 non-null   object
 4   metric               1932 non-null   object
 5   numerator            1398 non-null   float64
 6   denominator          1398 non-null   float64
 7   metric_score         1932 non-null   object
 8   score_previous       1847 non-null   object
 9   score_change         1848 non-null   object
 10  tier                 921 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 181.1+ KB

In [15]:
# Verify the new dataframe has the correct number of metrics

# Create list of high school metrics
high_school_metrics = high_school_metrics_df['metric'].unique()

# Convert the lists to sets
high_school_metrics_set = set(high_school_metrics)
high_school_metrics_to_keep_set = set(high_school_metrics_to_keep)

# Find elements only in high_school_metrics
only_in_high_school_metrics = high_school_metrics_set.difference(high_school_metrics_to_keep_set)

# Find elements only in high_school_metrics_to_keep
only_in_high_school_to_keep_metrics = high_school_metrics_to_keep_set.difference(high_school_metrics_set)

# Print the results
print("Number of high_school_metrics:", len(high_school_metrics_set))
print("Number of high_school_metrics_to_keep:", len(high_school_metrics_to_keep_set))
print("Only in high_school_metrics:", only_in_high_school_metrics)
print("Only in high_school_metrics_to_keep:", only_in_high_school_to_keep_metrics)

Number of high_school_metrics: 23
Number of high_school_metrics_to_keep: 23
Only in high_school_metrics: set()
Only in high_school_metrics_to_keep: set()

In [16]:
middle_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1300,2022-2023,1130,William T. Tilden School,Middle School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1301,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending Less Than 80% of Instr...,47.0,404.0,11.6,NaN,NaN,NaN
1302,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending 80-85% of Instructiona...,22.0,404.0,5.5,NaN,NaN,NaN
1303,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending 85-90% of Instructiona...,55.0,404.0,13.6,NaN,NaN,NaN
1304,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending at Least 90% of Instru...,280.0,404.0,69.3,50.5,18.8,Improving

In [17]:
# Create a list a metrics to drop
middle_school_metrics_to_keep = [
       'Admission Type',
       '% of Students Attending at Least 90% of Instructional Days',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       '# of Students Served Over the Full Year', 'October 1 Enrollment',
       '% of Students Receiving Zero Out-of-School Suspensions',
       'Percent of Metrics Improving,  All Students',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient',
       '% of Teachers Attending at Least 90% of Instructional Days',
       'Year-to-Year Teacher Retention'
]

print("Number of metrics to keep:", len(middle_school_metrics_to_keep))

Number of metrics to keep: 17

In [18]:
# Drop the rows where the 'metric' column is in the metrics_to_drop list
middle_school_metrics_df = middle_school_metrics_df[middle_school_metrics_df['metric'].isin(middle_school_metrics_to_keep)]

# Print info for cleaned dataframe
middle_school_count = middle_school_metrics_df['school_name'].nunique()
print("Number of Middle Schools:", middle_school_count)
middle_school_metrics_count = middle_school_metrics_df['metric'].nunique()
print("Number of Middle School metrics:", middle_school_metrics_count)
middle_school_metrics_df.info()

Number of Middle Schools: 29
Number of Middle School metrics: 17
<class 'pandas.core.frame.DataFrame'>
Index: 493 entries, 1300 to 77739
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  493 non-null    object
 1   school_id            493 non-null    int64
 2   school_name          493 non-null    object
 3   report_type          493 non-null    object
 4   metric               493 non-null    object
 5   numerator            338 non-null    float64
 6   denominator          338 non-null    float64
 7   metric_score         493 non-null    object
 8   score_previous       463 non-null    object
 9   score_change         464 non-null    object
 10  tier                 271 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 46.2+ KB

In [19]:
# Verify the new dataframe has the correct number of metrics

# Create list of high school metrics
middle_school_metrics = middle_school_metrics_df['metric'].unique()

# Convert the lists to sets
middle_school_metrics_set = set(middle_school_metrics)
middle_school_metrics_to_keep_set = set(middle_school_metrics_to_keep)

# Find elements only in high_school_metrics
only_in_middle_school_metrics = middle_school_metrics_set.difference(middle_school_metrics_to_keep_set)

# Find elements only in high_school_metrics_to_keep
only_in_middle_school_to_keep_metrics = middle_school_metrics_to_keep_set.difference(middle_school_metrics_set)

# Print the results
print("Number of middle_school_metrics:", len(middle_school_metrics_set))
print("Number of middle_school_metrics_to_keep:", len(middle_school_metrics_to_keep_set))
print("Only in middle_school_metrics:", only_in_middle_school_metrics)
print("Only in middle_school_metrics_to_keep:", only_in_middle_school_to_keep_metrics)

Number of middle_school_metrics: 17
Number of middle_school_metrics_to_keep: 17
Only in middle_school_metrics: set()
Only in middle_school_metrics_to_keep: set()

In [20]:
ktoeight_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1820,2022-2023,1200,John Barry School,K-8 School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1821,2022-2023,1200,John Barry School,K-8 School,% of Students Attending Less Than 80% of Instr...,205.0,602.0,34.1,NaN,NaN,NaN
1822,2022-2023,1200,John Barry School,K-8 School,% of Students Attending 80-85% of Instructiona...,78.0,602.0,13,NaN,NaN,NaN
1823,2022-2023,1200,John Barry School,K-8 School,% of Students Attending 85-90% of Instructiona...,93.0,602.0,15.5,NaN,NaN,NaN
1824,2022-2023,1200,John Barry School,K-8 School,% of Students Attending at Least 90% of Instru...,226.0,602.0,37.5,27,10.5,Improving

In [21]:
# Create a list a metrics to drop
ktoeight_school_metrics_to_keep = [
       'Admission Type',
       '% of Students Attending at Least 90% of Instructional Days',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       '# of Students Served Over the Full Year', 'October 1 Enrollment',
       '% of Students Receiving Zero Out-of-School Suspensions',
       'Percent of Metrics Improving,  All Students',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Below Basic, Grade 3',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grade 3',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient',
       '% of Teachers Attending at Least 90% of Instructional Days',
       'Year-to-Year Teacher Retention'
]

print("Number of metrics to keep:", len(ktoeight_school_metrics_to_keep))

Number of metrics to keep: 21

In [22]:
# Drop the rows where the 'metric' column is in the metrics_to_drop list
ktoeight_school_metrics_df = ktoeight_school_metrics_df[ktoeight_school_metrics_df['metric'].isin(ktoeight_school_metrics_to_keep)]

# Print info for cleaned dataframe
ktoeight_school_count = ktoeight_school_metrics_df['school_name'].nunique()
print("Number of K-8 Schools:", ktoeight_school_count)
ktoeight_school_metrics_count = ktoeight_school_metrics_df['metric'].nunique()
print("Number of K-8 School metrics:", ktoeight_school_metrics_count)
ktoeight_school_metrics_df.info()

Number of K-8 Schools: 154
Number of K-8 School metrics: 21
<class 'pandas.core.frame.DataFrame'>
Index: 3234 entries, 1820 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  3234 non-null   object
 1   school_id            3234 non-null   int64
 2   school_name          3234 non-null   object
 3   report_type          3234 non-null   object
 4   metric               3234 non-null   object
 5   numerator            2379 non-null   float64
 6   denominator          2379 non-null   float64
 7   metric_score         3234 non-null   object
 8   score_previous       3077 non-null   object
 9   score_change         3080 non-null   object
 10  tier                 2053 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 303.2+ KB

In [23]:
# Verify the new dataframe has the correct number of metrics

# Create list of high school metrics
ktoeight_school_metrics = ktoeight_school_metrics_df['metric'].unique()

# Convert the lists to sets
ktoeight_school_metrics_set = set(ktoeight_school_metrics)
ktoeight_school_metrics_to_keep_set = set(ktoeight_school_metrics_to_keep)

# Find elements only in high_school_metrics
only_in_ktoeight_school_metrics = ktoeight_school_metrics_set.difference(ktoeight_school_metrics_to_keep_set)

# Find elements only in high_school_metrics_to_keep
only_in_ktoeight_school_to_keep_metrics = ktoeight_school_metrics_to_keep_set.difference(ktoeight_school_metrics_set)

# Print the results
print("Number of ktoeight_school_metrics:", len(ktoeight_school_metrics_set))
print("Number of ktoeight_school_metrics_to_keep:", len(ktoeight_school_metrics_to_keep_set))
print("Only in ktoeight_school_metrics:", only_in_ktoeight_school_metrics)
print("Only in ktoeight_school_metrics_to_keep:", only_in_ktoeight_school_to_keep_metrics)

Number of ktoeight_school_metrics: 21
Number of ktoeight_school_metrics_to_keep: 21
Only in ktoeight_school_metrics: set()
Only in ktoeight_school_metrics_to_keep: set()

In [24]:
elementary_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
2340,2022-2023,1250,Joseph W. Catharine School,Elementary School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
2341,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending Less Than 80% of Instr...,60.0,447.0,13.4,NaN,NaN,NaN
2342,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending 80-85% of Instructiona...,27.0,447.0,6,NaN,NaN,NaN
2343,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending 85-90% of Instructiona...,62.0,447.0,13.9,NaN,NaN,NaN
2344,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending at Least 90% of Instru...,298.0,447.0,66.7,56.1,10.6,Improving

In [25]:
# Create a list a metrics to drop
elementary_school_metrics_to_keep = [
       'Admission Type',
       '% of Students Attending at Least 90% of Instructional Days',
       '# of Students Served Over the Full Year', 'October 1 Enrollment',
       '% of Students Receiving Zero Out-of-School Suspensions',
       'Percent of Metrics Improving,  All Students',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Below Basic, Grade 3',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grade 3',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient',
       '% of Teachers Attending at Least 90% of Instructional Days',
       'Year-to-Year Teacher Retention'
]

print("Number of metrics to keep:", len(elementary_school_metrics_to_keep))

Number of metrics to keep: 21

In [26]:
# Drop the rows where the 'metric' column is in the metrics_to_drop list
elementary_school_metrics_df = elementary_school_metrics_df[elementary_school_metrics_df['metric'].isin(elementary_school_metrics_to_keep)]

# Print info for cleaned dataframe
elementary_school_count = elementary_school_metrics_df['school_name'].nunique()
print("Number of Elementary Schools:", elementary_school_count)
elementary_school_metrics_count = elementary_school_metrics_df['metric'].nunique()
print("Number of Elementary School metrics:", elementary_school_metrics_count)
elementary_school_metrics_df.info()

Number of Elementary Schools: 56
Number of Elementary School metrics: 21
<class 'pandas.core.frame.DataFrame'>
Index: 1176 entries, 2340 to 82939
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  1176 non-null   object
 1   school_id            1176 non-null   int64
 2   school_name          1176 non-null   object
 3   report_type          1176 non-null   object
 4   metric               1176 non-null   object
 5   numerator            886 non-null    float64
 6   denominator          886 non-null    float64
 7   metric_score         1176 non-null   object
 8   score_previous       1120 non-null   object
 9   score_change         1120 non-null   object
 10  tier                 691 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 110.2+ KB

In [27]:
# Verify the new dataframe has the correct number of metrics

# Create list of high school metrics
elementary_school_metrics = elementary_school_metrics_df['metric'].unique()

# Convert the lists to sets
elementary_school_metrics_set = set(elementary_school_metrics)
elementary_school_metrics_to_keep_set = set(elementary_school_metrics_to_keep)

# Find elements only in high_school_metrics
only_in_elementary_school_metrics = elementary_school_metrics_set.difference(elementary_school_metrics_to_keep_set)

# Find elements only in high_school_metrics_to_keep
only_in_elementary_school_to_keep_metrics = elementary_school_metrics_to_keep_set.difference(elementary_school_metrics_set)

# Print the results
print("Number of elementary_school_metrics:", len(elementary_school_metrics_set))
print("Number of elementary_school_metrics_to_keep:", len(elementary_school_metrics_to_keep_set))
print("Only in elementary_school_metrics:", only_in_elementary_school_metrics)
print("Only in elementary_school_metrics_to_keep:", only_in_elementary_school_to_keep_metrics)

Number of elementary_school_metrics: 21
Number of elementary_school_metrics_to_keep: 21
Only in elementary_school_metrics: set()
Only in elementary_school_metrics_to_keep: set()

In [28]:
# Print info for cleaned dataframes
print("Number of High Schools:", high_school_count)
print("Number of High School metrics:", high_school_metrics_count)
high_school_metrics_df.info()
print('-' * 60)
print("Number of Middle Schools:", middle_school_count)
print("Number of Middle School metrics:", middle_school_metrics_count)
middle_school_metrics_df.info()
print('-' * 60)
print("Number of K-8 Schools:", ktoeight_school_count)
print("Number of K-8 School metrics:", ktoeight_school_metrics_count)
ktoeight_school_metrics_df.info()
print('-' * 60)
print("Number of Elementary Schools:", elementary_school_count)
print("Number of Elementary School metrics:", elementary_school_metrics_count)
elementary_school_metrics_df.info()
print('-' * 60)
all_schools = high_school_count + middle_school_count + ktoeight_school_count + elementary_school_count
print("Number of Schools:", all_schools)

Number of High Schools: 84
Number of High School metrics: 23
<class 'pandas.core.frame.DataFrame'>
Index: 1932 entries, 0 to 83719
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  1932 non-null   object
 1   school_id            1932 non-null   int64
 2   school_name          1932 non-null   object
 3   report_type          1932 non-null   object
 4   metric               1932 non-null   object
 5   numerator            1398 non-null   float64
 6   denominator          1398 non-null   float64
 7   metric_score         1932 non-null   object
 8   score_previous       1847 non-null   object
 9   score_change         1848 non-null   object
 10  tier                 921 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 181.1+ KB
------------------------------------------------------------
Number of Middle Schools: 29
Number of Middle School metrics: 17
<class 'pandas.core.frame.DataFrame'>
Index: 493 entries, 1300 to 77739
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  493 non-null    object
 1   school_id            493 non-null    int64
 2   school_name          493 non-null    object
 3   report_type          493 non-null    object
 4   metric               493 non-null    object
 5   numerator            338 non-null    float64
 6   denominator          338 non-null    float64
 7   metric_score         493 non-null    object
 8   score_previous       463 non-null    object
 9   score_change         464 non-null    object
 10  tier                 271 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 46.2+ KB
------------------------------------------------------------
Number of K-8 Schools: 154
Number of K-8 School metrics: 21
<class 'pandas.core.frame.DataFrame'>
Index: 3234 entries, 1820 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  3234 non-null   object
 1   school_id            3234 non-null   int64
 2   school_name          3234 non-null   object
 3   report_type          3234 non-null   object
 4   metric               3234 non-null   object
 5   numerator            2379 non-null   float64
 6   denominator          2379 non-null   float64
 7   metric_score         3234 non-null   object
 8   score_previous       3077 non-null   object
 9   score_change         3080 non-null   object
 10  tier                 2053 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 303.2+ KB
------------------------------------------------------------
Number of Elementary Schools: 56
Number of Elementary School metrics: 21
<class 'pandas.core.frame.DataFrame'>
Index: 1176 entries, 2340 to 82939
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  1176 non-null   object
 1   school_id            1176 non-null   int64
 2   school_name          1176 non-null   object
 3   report_type          1176 non-null   object
 4   metric               1176 non-null   object
 5   numerator            886 non-null    float64
 6   denominator          886 non-null    float64
 7   metric_score         1176 non-null   object
 8   score_previous       1120 non-null   object
 9   score_change         1120 non-null   object
 10  tier                 691 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 110.2+ KB
------------------------------------------------------------
Number of Schools: 323

In [29]:
high_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining
7,2022-2023,1010,John Bartram High School,High School,Number of Dropouts - Last School of Touch (Gra...,NaN,NaN,41,54,-13,Improving
8,2022-2023,1010,John Bartram High School,High School,# of Students Served Over the Full Year,NaN,NaN,617,642,-25,NaN
9,2022-2023,1010,John Bartram High School,High School,October 1 Enrollment,NaN,NaN,478,489,-11,NaN

In [35]:
# Pivot the high_school_metrics_df DataFrame to create one row for each school 
hs_metrics_df = high_school_metrics_df.pivot_table(
    index = ['accountability_year', 'school_id', 'school_name', 'report_type'],
    columns = 'metric', 
    values = 'metric_score',
    aggfunc='first'
).reset_index()

hs_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,# of Students Served Over the Full Year,% of 11th Grade Students Proficient on All Three Keystones,% of 12th Grade CTE Students Meeting Industry Standards,% of Students Attending at Least 90% of Instructional Days,% of Students Completing the FAFSA by End of 12th Grade,% of Students Receiving Zero Out-of-School Suspensions,...,"Keystone Algebra I: % of Students Proficient or Advanced, Grade 11","Keystone Biology: % of Students Below Basic, Grade 11","Keystone Biology: % of Students Proficient or Advanced, Grade 11","Keystone Literature: % of Students Below Basic, Grade 11","Keystone Literature: % of Students Proficient or Advanced, Grade 11",Ninth-Grade On-Track Rate,Number of Dropouts - Last School of Touch (Grades 7-12),October 1 Enrollment,"Percent of Metrics Improving, All Students",Year-to-Year Teacher Retention
0,2022-2023,1010,John Bartram High School,High School,617,4.2,Insufficient Sample,33.7,30.7,80.6,...,7.3,61.2,17.9,56.3,17.2,71.1,41,478,58.3,73.2
1,2022-2023,1020,West Philadelphia High School,High School,608,0,20,30.3,30.5,94.6,...,9.8,63.8,10.3,35.6,17,76.1,34,545,38.5,79.6
2,2022-2023,1030,High School of the Future,High School,578,4.8,Insufficient Sample,43.4,44.9,90.7,...,5.6,58.1,8.6,20.9,30.4,62.9,20,569,58.3,72.9
3,2022-2023,1050,Paul Robeson High School for Human Services,High School,341,15.8,Insufficient Sample,67.7,61.2,99.4,...,18.4,34.7,24,5.3,53.3,72.4,9,313,50,90
4,2022-2023,1100,William L. Sayre High School,High School,474,1.7,Insufficient Sample,36.7,19.3,81.2,...,3.7,69.6,1.8,40,16.4,87.7,27,355,33.3,86.1

In [31]:
hs_metrics_df.columns

Index(['accountability_year', 'school_id', 'school_name', 'report_type',
       '# of Students Served Over the Full Year',
       '% of 11th Grade Students Proficient on All Three Keystones',
       '% of 12th Grade CTE Students Meeting Industry Standards',
       '% of Students Attending at Least 90% of Instructional Days',
       '% of Students Completing the FAFSA by End of 12th Grade',
       '% of Students Receiving Zero Out-of-School Suspensions',
       '% of Teachers Attending at Least 90% of Instructional Days',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient', 'Admission Type',
       'First-Fall Matriculation', 'Four-Year Cohort Graduation Rate',
       'Keystone Algebra I: % of Students Below Basic, Grade 11',
       'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11',
       'Keystone Biology: % of Students Below Basic, Grade 11',
       'Keystone Biology: % of Students Proficient or Advanced, Grade 11',
       'Keystone Literature: % of Students Below Basic, Grade 11',
       'Keystone Literature: % of Students Proficient or Advanced, Grade 11',
       'Ninth-Grade On-Track Rate',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       'October 1 Enrollment', 'Percent of Metrics Improving,  All Students',
       'Year-to-Year Teacher Retention'],
      dtype='object', name='metric')

In [32]:
hs_columns = [
    'accountability_year', 
    'school_id', 
    'school_name', 
    'report_type', 
    'Admission Type', 
    '# of Students Served Over the Full Year', 
    'October 1 Enrollment', 
    '% of 11th Grade Students Proficient on All Three Keystones', 
    'Keystone Algebra I: % of Students Below Basic, Grade 11', 
    'Keystone Algebra I: % of Students Proficient or Advanced, Grade 11', 
    'Keystone Biology: % of Students Below Basic, Grade 11', 
    'Keystone Biology: % of Students Proficient or Advanced, Grade 11', 
    'Keystone Literature: % of Students Below Basic, Grade 11', 
    'Keystone Literature: % of Students Proficient or Advanced, Grade 11', 
    '% of 12th Grade CTE Students Meeting Industry Standards', 
    'Ninth-Grade On-Track Rate', 
    'Percent of Metrics Improving,  All Students', 
    '% of Students Attending at Least 90% of Instructional Days', 
    'Number of Dropouts - Last School of Touch (Grades 7-12)', 
    '% of Students Receiving Zero Out-of-School Suspensions', 
    '% of Students Completing the FAFSA by End of 12th Grade',
    'First-Fall Matriculation',
    'Four-Year Cohort Graduation Rate',
    '% of Teachers Attending at Least 90% of Instructional Days',
    '% of Teachers Rated as Distinguished',
    '% of Teachers Rated as Proficient', 
    'Year-to-Year Teacher Retention'
]

# Reorder the DataFrame columns
hs_metrics_df = hs_metrics_df[hs_columns]

hs_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,Admission Type,# of Students Served Over the Full Year,October 1 Enrollment,% of 11th Grade Students Proficient on All Three Keystones,"Keystone Algebra I: % of Students Below Basic, Grade 11","Keystone Algebra I: % of Students Proficient or Advanced, Grade 11",...,% of Students Attending at Least 90% of Instructional Days,Number of Dropouts - Last School of Touch (Grades 7-12),% of Students Receiving Zero Out-of-School Suspensions,% of Students Completing the FAFSA by End of 12th Grade,First-Fall Matriculation,Four-Year Cohort Graduation Rate,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,Year-to-Year Teacher Retention
0,2022-2023,1010,John Bartram High School,High School,Catchment,617,478,4.2,62.3,7.3,...,33.7,41,80.6,30.7,24.2,70.5,74.3,4,96,73.2
1,2022-2023,1020,West Philadelphia High School,High School,Catchment,608,545,0,54.1,9.8,...,30.3,34,94.6,30.5,41.5,82.1,85.7,15.6,81.3,79.6
2,2022-2023,1030,High School of the Future,High School,Citywide,578,569,4.8,46.4,5.6,...,43.4,20,90.7,44.9,22.7,92.4,68.2,0,93.1,72.9
3,2022-2023,1050,Paul Robeson High School for Human Services,High School,Citywide,341,313,15.8,21.1,18.4,...,67.7,9,99.4,61.2,47.2,96,80,35.3,64.7,90
4,2022-2023,1100,William L. Sayre High School,High School,Catchment,474,355,1.7,72.2,3.7,...,36.7,27,81.2,19.3,31.8,63,91.9,0,96.7,86.1

In [33]:
middle_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1300,2022-2023,1130,William T. Tilden School,Middle School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1304,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending at Least 90% of Instru...,280.0,404.0,69.3,50.5,18.8,Improving
1307,2022-2023,1130,William T. Tilden School,Middle School,Number of Dropouts - Last School of Touch (Gra...,NaN,NaN,4,3,1,Not Improving
1308,2022-2023,1130,William T. Tilden School,Middle School,# of Students Served Over the Full Year,NaN,NaN,404,438,-34,NaN
1309,2022-2023,1130,William T. Tilden School,Middle School,October 1 Enrollment,NaN,NaN,329,346,-17,NaN

In [36]:
# Pivot the _school_metrics_df DataFrame to create one row for each school 
ms_metrics_df = middle_school_metrics_df.pivot_table(
    index = ['accountability_year', 'school_id', 'school_name', 'report_type'],
    columns = 'metric', 
    values = 'metric_score',
    aggfunc='first'
).reset_index()

ms_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,# of Students Served Over the Full Year,% of Students Attending at Least 90% of Instructional Days,% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,...,Number of Dropouts - Last School of Touch (Grades 7-12),October 1 Enrollment,"PSSA ELA: % of Students Below Basic, Grades 3-8","PSSA ELA: % of Students Proficient or Advanced, Grades 3-8","PSSA Math: % of Students Below Basic, Grades 3-8","PSSA Math: % of Students Proficient or Advanced, Grades 3-8","PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",Year-to-Year Teacher Retention
0,2022-2023,1130,William T. Tilden School,Middle School,404,69.3,92.6,71,0,100,...,4,329,39.2,16.5,85.6,3.5,63.6,16.2,50,62.1
1,2022-2023,1580,Middle Years Alternative School,Middle School,179,74.3,91.1,93.3,20,80,...,2,171,12.1,38,55.2,14.6,29,41.9,60,75
2,2022-2023,2050,Science Leadership Academy Middle School,Middle School,379,95,95.8,95,0,94.1,...,1,358,12.3,56,55.6,21,35.4,48.1,60,80
3,2022-2023,2140,Julia R. Masterman School,Middle School,735,94.8,97.6,86.4,70.8,29.2,...,1,716,0.6,94,5.6,81.9,0,98.9,20,83.1
4,2022-2023,2410,Girard Academic Music Program,Middle School,332,95.5,96.1,87.9,36,64,...,2,330,0.9,92.2,6.9,72.9,2.4,90.6,50,94.1

In [38]:
ms_metrics_df.columns

Index(['accountability_year', 'school_id', 'school_name', 'report_type',
       '# of Students Served Over the Full Year',
       '% of Students Attending at Least 90% of Instructional Days',
       '% of Students Receiving Zero Out-of-School Suspensions',
       '% of Teachers Attending at Least 90% of Instructional Days',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient', 'Admission Type',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       'October 1 Enrollment',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       'Percent of Metrics Improving,  All Students',
       'Year-to-Year Teacher Retention'],
      dtype='object', name='metric')

In [39]:
ms_columns = [
    'accountability_year', 
    'school_id', 
    'school_name', 
    'report_type', 
    'Admission Type', 
    '# of Students Served Over the Full Year', 
    'October 1 Enrollment', 
    'PSSA ELA: % of Students Below Basic, Grades 3-8',
    'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Math: % of Students Below Basic, Grades 3-8',
    'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Science: % of Students Below Basic, Grades 4-8',
    'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
    'Percent of Metrics Improving,  All Students', 
    '% of Students Attending at Least 90% of Instructional Days', 
    'Number of Dropouts - Last School of Touch (Grades 7-12)',
    '% of Students Receiving Zero Out-of-School Suspensions', 
    '% of Teachers Attending at Least 90% of Instructional Days',
    '% of Teachers Rated as Distinguished',
    '% of Teachers Rated as Proficient', 
    'Year-to-Year Teacher Retention'
]

# Reorder the DataFrame columns
ms_metrics_df = ms_metrics_df[ms_columns]

ms_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,Admission Type,# of Students Served Over the Full Year,October 1 Enrollment,"PSSA ELA: % of Students Below Basic, Grades 3-8","PSSA ELA: % of Students Proficient or Advanced, Grades 3-8","PSSA Math: % of Students Below Basic, Grades 3-8",...,"PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",% of Students Attending at Least 90% of Instructional Days,Number of Dropouts - Last School of Touch (Grades 7-12),% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,Year-to-Year Teacher Retention
0,2022-2023,1130,William T. Tilden School,Middle School,Catchment,404,329,39.2,16.5,85.6,...,63.6,16.2,50,69.3,4,92.6,71,0,100,62.1
1,2022-2023,1580,Middle Years Alternative School,Middle School,Citywide,179,171,12.1,38,55.2,...,29,41.9,60,74.3,2,91.1,93.3,20,80,75
2,2022-2023,2050,Science Leadership Academy Middle School,Middle School,Catchment,379,358,12.3,56,55.6,...,35.4,48.1,60,95,1,95.8,95,0,94.1,80
3,2022-2023,2140,Julia R. Masterman School,Middle School,Criteria-Based,735,716,0.6,94,5.6,...,0,98.9,20,94.8,1,97.6,86.4,70.8,29.2,83.1
4,2022-2023,2410,Girard Academic Music Program,Middle School,Criteria-Based,332,330,0.9,92.2,6.9,...,2.4,90.6,50,95.5,2,96.1,87.9,36,64,94.1

In [40]:
ktoeight_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1820,2022-2023,1200,John Barry School,K-8 School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1824,2022-2023,1200,John Barry School,K-8 School,% of Students Attending at Least 90% of Instru...,226.0,602.0,37.5,27,10.5,Improving
1827,2022-2023,1200,John Barry School,K-8 School,Number of Dropouts - Last School of Touch (Gra...,NaN,NaN,3,11,-8,Improving
1828,2022-2023,1200,John Barry School,K-8 School,# of Students Served Over the Full Year,NaN,NaN,602,549,53,NaN
1829,2022-2023,1200,John Barry School,K-8 School,October 1 Enrollment,NaN,NaN,500,475,25,NaN

In [48]:
# Pivot the _school_metrics_df DataFrame to create one row for each school 
ktes_metrics_df = ktoeight_school_metrics_df.pivot_table(
    index = ['accountability_year', 'school_id', 'school_name', 'report_type'],
    columns = 'metric', 
    values = 'metric_score',
    aggfunc='first'
).reset_index()

ktes_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,# of Students Served Over the Full Year,% of Students Attending at Least 90% of Instructional Days,% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,...,"PSSA ELA: % of Students Proficient or Advanced, Grade 3","PSSA ELA: % of Students Proficient or Advanced, Grades 3-8","PSSA Math: % of Students Below Basic, Grade 3","PSSA Math: % of Students Below Basic, Grades 3-8","PSSA Math: % of Students Proficient or Advanced, Grade 3","PSSA Math: % of Students Proficient or Advanced, Grades 3-8","PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",Year-to-Year Teacher Retention
0,2022-2023,1200,John Barry School,K-8 School,602,37.5,96.8,71.4,14.3,78.6,...,10,14,79.1,81.4,4.7,4.1,42.9,21.4,64.3,79
1,2022-2023,1230,William C. Bryant School,K-8 School,407,44.2,91.4,71,7.7,92.3,...,21.2,16.6,61.3,74.2,6.5,2.2,50,20,85.7,33.3
2,2022-2023,1260,Benjamin B. Comegys School,K-8 School,365,33.7,85.2,55.6,0,87.5,...,13.3,16.8,62.1,76.7,10.3,5.2,38.2,25.5,57.1,60.7
3,2022-2023,1280,Sadie Alexander School,K-8 School,586,96.6,100,92.7,73.7,26.3,...,83.3,85.4,6.9,8.9,81.9,77.1,6.7,89.2,57.1,90
4,2022-2023,1290,Andrew Hamilton School,K-8 School,406,45.1,94.8,86.7,0,76,...,14.8,16.9,77.8,78.8,7.4,3.3,36.1,30.2,85.7,83.9

In [49]:
ktes_metrics_df.columns

Index(['accountability_year', 'school_id', 'school_name', 'report_type',
       '# of Students Served Over the Full Year',
       '% of Students Attending at Least 90% of Instructional Days',
       '% of Students Receiving Zero Out-of-School Suspensions',
       '% of Teachers Attending at Least 90% of Instructional Days',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient', 'Admission Type',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       'October 1 Enrollment', 'PSSA ELA: % of Students Below Basic, Grade 3',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grade 3',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       'Percent of Metrics Improving,  All Students',
       'Year-to-Year Teacher Retention'],
      dtype='object', name='metric')

In [50]:
ktes_columns = [
    'accountability_year', 
    'school_id', 
    'school_name', 
    'report_type', 
    'Admission Type', 
    '# of Students Served Over the Full Year', 
    'October 1 Enrollment', 
    'PSSA ELA: % of Students Below Basic, Grade 3',
    'PSSA ELA: % of Students Below Basic, Grades 3-8',
    'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
    'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Math: % of Students Below Basic, Grade 3',
    'PSSA Math: % of Students Below Basic, Grades 3-8',
    'PSSA Math: % of Students Proficient or Advanced, Grade 3',
    'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Science: % of Students Below Basic, Grades 4-8',
    'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
    'Percent of Metrics Improving,  All Students', 
    '% of Students Attending at Least 90% of Instructional Days', 
    'Number of Dropouts - Last School of Touch (Grades 7-12)',
    '% of Students Receiving Zero Out-of-School Suspensions', 
    '% of Teachers Attending at Least 90% of Instructional Days',
    '% of Teachers Rated as Distinguished',
    '% of Teachers Rated as Proficient', 
    'Year-to-Year Teacher Retention'
]


# Reorder the DataFrame columns
ktes_metrics_df = ktes_metrics_df[ktes_columns]

ktes_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,Admission Type,# of Students Served Over the Full Year,October 1 Enrollment,"PSSA ELA: % of Students Below Basic, Grade 3","PSSA ELA: % of Students Below Basic, Grades 3-8","PSSA ELA: % of Students Proficient or Advanced, Grade 3",...,"PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",% of Students Attending at Least 90% of Instructional Days,Number of Dropouts - Last School of Touch (Grades 7-12),% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,Year-to-Year Teacher Retention
0,2022-2023,1200,John Barry School,K-8 School,Catchment,602,500,58,43.5,10,...,42.9,21.4,64.3,37.5,3,96.8,71.4,14.3,78.6,79
1,2022-2023,1230,William C. Bryant School,K-8 School,Catchment,407,329,27.3,28.7,21.2,...,50,20,85.7,44.2,3,91.4,71,7.7,92.3,33.3
2,2022-2023,1260,Benjamin B. Comegys School,K-8 School,Catchment,365,319,30,28.9,13.3,...,38.2,25.5,57.1,33.7,1,85.2,55.6,0,87.5,60.7
3,2022-2023,1280,Sadie Alexander School,K-8 School,Catchment,586,578,5.6,2.9,83.3,...,6.7,89.2,57.1,96.6,0,100,92.7,73.7,26.3,90
4,2022-2023,1290,Andrew Hamilton School,K-8 School,Catchment,406,347,33.3,33.8,14.8,...,36.1,30.2,85.7,45.1,0,94.8,86.7,0,76,83.9

In [51]:
elementary_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
2340,2022-2023,1250,Joseph W. Catharine School,Elementary School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
2344,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending at Least 90% of Instru...,298.0,447.0,66.7,56.1,10.6,Improving
2347,2022-2023,1250,Joseph W. Catharine School,Elementary School,Number of Dropouts - Last School of Touch (Gra...,NaN,NaN,Not Applicable,Not Applicable,Not Applicable,NaN
2348,2022-2023,1250,Joseph W. Catharine School,Elementary School,# of Students Served Over the Full Year,NaN,NaN,447,478,-31,NaN
2349,2022-2023,1250,Joseph W. Catharine School,Elementary School,October 1 Enrollment,NaN,NaN,409,409,0,NaN

In [52]:
# Pivot the _school_metrics_df DataFrame to create one row for each school 
es_metrics_df = elementary_school_metrics_df.pivot_table(
    index = ['accountability_year', 'school_id', 'school_name', 'report_type'],
    columns = 'metric', 
    values = 'metric_score',
    aggfunc='first'
).reset_index()

es_metrics_df

metric,accountability_year,school_id,school_name,report_type,# of Students Served Over the Full Year,% of Students Attending at Least 90% of Instructional Days,% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,...,"PSSA ELA: % of Students Proficient or Advanced, Grade 3","PSSA ELA: % of Students Proficient or Advanced, Grades 3-8","PSSA Math: % of Students Below Basic, Grade 3","PSSA Math: % of Students Below Basic, Grades 3-8","PSSA Math: % of Students Proficient or Advanced, Grade 3","PSSA Math: % of Students Proficient or Advanced, Grades 3-8","PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",Year-to-Year Teacher Retention
0,2022-2023,1250,Joseph W. Catharine School,Elementary School,447,66.7,100,97,0,96.4,...,18.9,20,67.6,64,18.9,14.8,35.4,33.9,61.5,79.4
1,2022-2023,1380,Thomas G. Morton School,Elementary School,424,59,96.5,85.7,0,84.6,...,25.4,24.6,80.3,70.4,6.6,8.3,29.8,40.4,92.3,85.3
2,2022-2023,1390,Samuel Powel School,Elementary School,317,79.5,99.7,95.7,5.9,94.1,...,66,56.1,21.3,22.5,55.3,51,17.7,62.8,76.9,81.8
3,2022-2023,1400,John M. Patterson School,Elementary School,420,57.6,97.6,79.2,0,100,...,20.3,22.8,64.2,58.2,11.9,14.2,20.9,44.8,38.5,84
4,2022-2023,2320,Stephen Girard School,Elementary School,336,54.2,100,100,22.2,77.8,...,36.4,34.7,46.3,46.4,26.9,28,15.8,52.6,92.3,91.3
5,2022-2023,2520,Abram S. Jenks School,Elementary School,252,83.7,100,76.2,33.3,66.7,...,61.4,61.4,22.7,16.7,59.1,62.8,2.9,88.6,53.9,85.7
6,2022-2023,2540,Francis S. Key School,Elementary School,415,64.1,99.8,90.9,44.8,55.2,...,25,31.7,58,50.7,24,20,18.9,43.4,76.9,94.1
7,2022-2023,3308,Inquiry Charter School,Elementary School,273,79.9,98.9,Not Applicable,Data Unavailable,Data Unavailable,...,29.3,37,46.3,47.1,29.3,25.2,20.9,55.8,33.3,Data Unavailable
8,2022-2023,3378,Philadelphia Montessori Charter School,Elementary School,279,52.7,96.1,Not Applicable,Data Unavailable,Data Unavailable,...,20.9,24.7,65.1,63.6,7,10.4,24.2,48.5,41.7,Data Unavailable
9,2022-2023,3408,Mastery Charter School at Mann,Elementary School,564,69.3,86.4,Not Applicable,Data Unavailable,Data Unavailable,...,31.9,26.5,61.4,65.4,15.7,7.4,25.6,28.1,75,Data Unavailable
10,2022-2023,3409,Mastery Charter School at Smedley,Elementary School,808,64.6,93.9,Not Applicable,Data Unavailable,Data Unavailable,...,26.5,32.7,63.7,58.3,16.7,15.6,22.5,50,75,Data Unavailable
11,2022-2023,3415,Mastery Charter School at Clymer,Elementary School,483,58.2,92.6,Not Applicable,Data Unavailable,Data Unavailable,...,18,15,76.5,73.2,7.8,5.2,41.9,19.4,41.7,Data Unavailable
12,2022-2023,3427,Mastery Charter School at Wister,Elementary School,564,55,88.3,Not Applicable,Data Unavailable,Data Unavailable,...,27.1,23.1,60,59.4,16.5,14.3,24,38.7,75,Data Unavailable
13,2022-2023,3436,KIPP Octavius Catto Charter School,Elementary School,210,49.5,100,Not Applicable,Data Unavailable,Data Unavailable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Insufficient Data for Score,Data Unavailable
14,2022-2023,3437,KIPP North Philadelphia Charter School,Elementary School,630,34.6,89.1,Not Applicable,Data Unavailable,Data Unavailable,...,15.7,18.4,70.9,66.8,5.8,9.8,26.5,27.6,16.7,Data Unavailable
15,2022-2023,3438,Deep Roots Charter School,Elementary School,313,40.3,87.5,Not Applicable,Data Unavailable,Data Unavailable,...,17.4,13.5,60.9,69.5,13,10.7,20.9,34.9,66.7,Data Unavailable
16,2022-2023,3439,Mastery Prep Elementary Charter School,Elementary School,582,75.4,81.4,Not Applicable,Data Unavailable,Data Unavailable,...,21.3,26.8,58.1,60.8,12.2,10.2,11.1,50,66.7,Data Unavailable
17,2022-2023,3446,Philadelphia Hebrew Public Charter School,Elementary School,437,65.9,94.5,Not Applicable,Data Unavailable,Data Unavailable,...,30.2,27.8,59.6,59.5,16.2,17,26.4,43.4,70,Data Unavailable
18,2022-2023,4380,Thomas M. Peirce School,Elementary School,273,49.1,97.8,73.7,6.3,81.3,...,14.3,15.2,60,73.2,8.6,2.4,37,14.8,76.9,85
19,2022-2023,4470,Richard R. Wright School,Elementary School,302,46.7,95.7,96.2,0,95.2,...,14.9,15,76.6,67.4,6.4,9.9,37.5,33.3,100,85.2
20,2022-2023,5260,Lewis Elkin School,Elementary School,622,42.3,97.8,76,0,95,...,5.3,5.6,84.1,83.6,1.8,2.4,41.6,15.8,92.3,88.5
21,2022-2023,5300,Horatio B. Hackett School,Elementary School,385,79.2,99.7,87.9,9.1,90.9,...,67.7,54.4,23.5,28.9,66.2,50.3,15.1,60.4,69.2,75.9
22,2022-2023,5370,John Moffet School,Elementary School,275,69.1,100,90.9,17.7,82.4,...,38.2,45,44.1,35.8,26.5,28.4,9.5,66.7,61.5,78.3
23,2022-2023,5400,Richmond School,Elementary School,409,55.3,98,96.4,8,88,...,35.6,39.3,37.3,43.2,39,24,11.8,47.1,76.9,93.1
24,2022-2023,5410,Isaac A. Sheppard School,Elementary School,152,55.3,96.7,70.6,0,92.3,...,7.1,9.3,48.2,54.7,11.1,9.4,11.5,46.2,92.3,88.2
25,2022-2023,5440,Frances E. Willard School,Elementary School,490,45.7,96.5,84.2,0,96.4,...,9.6,14,69.4,65.1,9.4,11.4,29.2,37.1,69.2,71.4
26,2022-2023,5470,William Cramp School,Elementary School,395,47.1,95.7,84.9,32.1,67.9,...,22,18.5,68.9,69.6,11.5,8.1,20.8,27.1,76.9,88.2
27,2022-2023,5490,Cayuga School,Elementary School,380,66.1,97.1,94.1,0,96.3,...,11.1,13.8,61.7,67.9,4.3,8,25,47.9,69.2,68.8
28,2022-2023,5530,Gloria Casarez Elementary School,Elementary School,532,49.6,98.7,74.4,6.5,87.1,...,6.9,9.7,85,79.9,5,7,40.5,25.7,46.2,65
29,2022-2023,5590,John H. Webster School,Elementary School,549,45.2,95.8,90.7,0,100,...,10.7,18,66.7,60.7,13.3,15.2,20.3,50,76.9,87.8
30,2022-2023,6220,Eleanor C. Emlen School,Elementary School,326,60.7,99.1,92.9,40,60,...,25.9,25.8,55.2,53,19,15.2,16.1,44.6,84.6,85.7
31,2022-2023,6300,James Logan School,Elementary School,272,63.2,99.6,91.3,0,100,...,26.7,19.4,55.6,67.7,22.2,11.5,30,27.5,76.9,88
32,2022-2023,6340,Joseph Pennell School,Elementary School,324,51.5,98.2,77.3,0,100,...,25.9,20.1,69.1,57.9,18.2,15.9,39,29.3,84.6,81.8
33,2022-2023,6470,John B. Kelly School,Elementary School,381,51.7,94,88.2,0,100,...,25.9,26.6,60,53.9,10.9,15.4,19.6,57.1,92.3,88.6
34,2022-2023,7200,Clara Barton School,Elementary School,579,64.4,100,81.6,45.5,54.6,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Insufficient Data for Score,94.9
35,2022-2023,7220,Laura H. Carnell School,Elementary School,817,56.7,97.8,73.3,0,93.1,...,18.3,16.7,53.6,62.6,18.6,13.9,43.2,20,84.6,77.8
36,2022-2023,7260,Ellwood School,Elementary School,299,69.2,99.7,90,5.6,94.4,...,30,23.7,68.5,62,16.7,11,25,39.6,76.9,86.4
37,2022-2023,7310,Feltonville Intermediate School,Elementary School,573,71.4,98.1,65.7,4.2,95.8,...,15.7,18.8,63.4,60.2,16.3,13.8,30.5,33.1,61.5,77.1
38,2022-2023,7320,Julia W. Howe School,Elementary School,233,61.8,99.6,87,0,94.4,...,40,26.2,46.7,59.5,20,17.9,28.6,35.7,100,91.7
39,2022-2023,7330,Henry W. Lawton School,Elementary School,639,63.2,98.6,87.8,0,94.3,...,20.5,22.6,61.6,58.3,11.6,15.3,23.6,38.9,69.2,81.4
40,2022-2023,7350,James R. Lowell School,Elementary School,551,63.9,99.3,77.8,3.6,85.7,...,25.6,19.2,64.3,59.3,11.9,11.9,22.9,43.8,84.6,68.4
41,2022-2023,7360,John Marshall School,Elementary School,323,40.3,92.3,69.2,5.6,83.3,...,15.8,11.5,59.5,77.2,10.8,5.7,37.2,18.6,46.2,85.2
42,2022-2023,7380,Alexander K. McClure School,Elementary School,529,53.9,97,64.9,0,100,...,6.4,9.5,85.9,76.4,3.1,4.3,34.7,29.2,46.2,68.4
43,2022-2023,7430,James J. Sullivan School,Elementary School,492,43.3,97.6,55.6,3.9,96.2,...,10.3,14.2,69.5,69.4,10.2,9.2,27.7,21.5,84.6,73.5
44,2022-2023,7440,Bayard Taylor School,Elementary School,435,47.8,99.1,90.2,3,97,...,10,9.8,78.3,71.3,1.7,4.8,17,41.5,46.2,85.7
45,2022-2023,7490,Prince Hall School,Elementary School,416,63,98.8,82.8,0,100,...,31.1,22.3,66.7,65.5,16,10.8,23,37.7,92.3,79.3
46,2022-2023,7530,William Rowen School,Elementary School,373,58.7,99.2,70.8,0,100,...,21.4,28.3,53.6,52.8,14.3,13.2,10.7,53.6,69.2,75
47,2022-2023,8230,Kennedy C. Crossan School,Elementary School,350,70.9,98.3,95.5,10.5,89.5,...,24.5,38.3,58,41.3,24,30.1,13.6,63.6,53.9,87
48,2022-2023,8250,Edwin Forrest School,Elementary School,881,54.7,98.9,76.8,4,96,...,23.3,24.4,58.7,54,16.5,16.7,25.4,39.8,69.2,80.3
49,2022-2023,8260,Fox Chase School,Elementary School,499,74.6,99.2,91.9,16,84,...,57.8,47.7,23.3,28.7,43.8,38.6,12.7,68.3,76.9,77.1
50,2022-2023,8310,J. Hampton Moore School,Elementary School,1240,68.8,99.4,90.8,51.7,48.3,...,31.3,35.3,47.3,46.2,28.5,25.5,21.1,48.1,38.5,89.3
51,2022-2023,8340,Solomon Solis-Cohen School,Elementary School,1362,67.6,99.3,86.8,0,100,...,19.1,24.3,53.4,53.3,18.1,19.2,30.9,33.8,61.5,91.6
52,2022-2023,8360,Rhawnhurst School,Elementary School,672,68.5,100,88.9,3.2,96.8,...,36.7,39.3,45.5,41.4,36.4,34.6,11.4,62,46.2,91.9
53,2022-2023,8370,Watson Comly School,Elementary School,620,80.2,99.5,87.2,34.6,65.4,...,52.9,50,19.4,22.1,51.6,47.2,5.9,74.1,61.5,80
54,2022-2023,8400,Anne Frank School,Elementary School,1529,81,100,87.3,64.2,35.8,...,54.6,62.2,18.1,16.4,52,54.5,11.3,74.5,69.2,93.5
55,2022-2023,8440,William H. Loesche School,Elementary School,1130,82,99.7,80.8,14.1,85.9,...,49.3,52.7,25,20.6,51.2,50.9,12.1,58.9,69.2,91.6

In [53]:
es_metrics_df.columns

Index(['accountability_year', 'school_id', 'school_name', 'report_type',
       '# of Students Served Over the Full Year',
       '% of Students Attending at Least 90% of Instructional Days',
       '% of Students Receiving Zero Out-of-School Suspensions',
       '% of Teachers Attending at Least 90% of Instructional Days',
       '% of Teachers Rated as Distinguished',
       '% of Teachers Rated as Proficient', 'Admission Type',
       'Number of Dropouts - Last School of Touch (Grades 7-12)',
       'October 1 Enrollment', 'PSSA ELA: % of Students Below Basic, Grade 3',
       'PSSA ELA: % of Students Below Basic, Grades 3-8',
       'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
       'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Math: % of Students Below Basic, Grade 3',
       'PSSA Math: % of Students Below Basic, Grades 3-8',
       'PSSA Math: % of Students Proficient or Advanced, Grade 3',
       'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
       'PSSA Science: % of Students Below Basic, Grades 4-8',
       'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
       'Percent of Metrics Improving,  All Students',
       'Year-to-Year Teacher Retention'],
      dtype='object', name='metric')

In [54]:
es_columns = [
    'accountability_year', 
    'school_id', 
    'school_name', 
    'report_type', 
    'Admission Type', 
    '# of Students Served Over the Full Year', 
    'October 1 Enrollment', 
    'PSSA ELA: % of Students Below Basic, Grade 3',
    'PSSA ELA: % of Students Below Basic, Grades 3-8',
    'PSSA ELA: % of Students Proficient or Advanced, Grade 3',
    'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Math: % of Students Below Basic, Grade 3',
    'PSSA Math: % of Students Below Basic, Grades 3-8',
    'PSSA Math: % of Students Proficient or Advanced, Grade 3',
    'PSSA Math: % of Students Proficient or Advanced, Grades 3-8',
    'PSSA Science: % of Students Below Basic, Grades 4-8',
    'PSSA Science: % of Students Proficient or Advanced, Grades 4-8',
    'Percent of Metrics Improving,  All Students', 
    '% of Students Attending at Least 90% of Instructional Days', 
    '% of Students Receiving Zero Out-of-School Suspensions', 
    '% of Teachers Attending at Least 90% of Instructional Days',
    '% of Teachers Rated as Distinguished',
    '% of Teachers Rated as Proficient', 
    'Year-to-Year Teacher Retention'
]

# Reorder the DataFrame columns
es_metrics_df = es_metrics_df[es_columns]

es_metrics_df.head()

metric,accountability_year,school_id,school_name,report_type,Admission Type,# of Students Served Over the Full Year,October 1 Enrollment,"PSSA ELA: % of Students Below Basic, Grade 3","PSSA ELA: % of Students Below Basic, Grades 3-8","PSSA ELA: % of Students Proficient or Advanced, Grade 3",...,"PSSA Math: % of Students Proficient or Advanced, Grades 3-8","PSSA Science: % of Students Below Basic, Grades 4-8","PSSA Science: % of Students Proficient or Advanced, Grades 4-8","Percent of Metrics Improving, All Students",% of Students Attending at Least 90% of Instructional Days,% of Students Receiving Zero Out-of-School Suspensions,% of Teachers Attending at Least 90% of Instructional Days,% of Teachers Rated as Distinguished,% of Teachers Rated as Proficient,Year-to-Year Teacher Retention
0,2022-2023,1250,Joseph W. Catharine School,Elementary School,Catchment,447,409,35.1,36.5,18.9,...,14.8,35.4,33.9,61.5,66.7,100,97,0,96.4,79.4
1,2022-2023,1380,Thomas G. Morton School,Elementary School,Catchment,424,367,35.6,38.9,25.4,...,8.3,29.8,40.4,92.3,59,96.5,85.7,0,84.6,85.3
2,2022-2023,1390,Samuel Powel School,Elementary School,Catchment,317,295,8.5,14.3,66,...,51,17.7,62.8,76.9,79.5,99.7,95.7,5.9,94.1,81.8
3,2022-2023,1400,John M. Patterson School,Elementary School,Catchment,420,355,39.1,39.8,20.3,...,14.2,20.9,44.8,38.5,57.6,97.6,79.2,0,100,84
4,2022-2023,2320,Stephen Girard School,Elementary School,Catchment,336,291,25.8,29.8,36.4,...,28,15.8,52.6,92.3,54.2,100,100,22.2,77.8,91.3